body{
    background-color: rgb(63, 63, 216);
    font-family: Arial, Helvetica, sans-serif;
}
header{
    color: white;
    text-align: center;
}
section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.288);
}
div{
    text-align: center;
}
#msg{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
#msg::before{
    content: 'â³';
}
#foto > img{
    width: 400px;
}
footer{
    color: white;
    text-align: center;
}