body{
    background-color: rgb(30, 226, 112);
    font-family: monospace;
}
header{
    color: white;
    text-align: center;
}
#formulario{
    text-align: left;
}
section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 80vw;
    margin: auto;
    text-align: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.288);
}
input{
    margin:2px
}
#resultado{
   background-color: rgb(231, 185, 133);
   width: 200px;
   height: 250px;
   border-radius: 10px;
   margin:auto;
   margin-bottom:10px;
   margin-top: 10px;;
}
div#resultado p{
    text-align: center;
    margin:2px
}
footer{
    color: white;
    text-align: center;
}